* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

main {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 5px;
  background-color: white;
}

img {
  width: 100%;
}

#carousell {
  width: 100%;
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 50px auto 50px;
}

#kisKepek {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

#nagyKep {
  height: 100%;
  margin: 0 5px;
}

.korvonalas {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.jobb,
.bal {
  width: 100%;
}

@media screen and (max-width: 720px) {
  #kisKepek {
    grid-template-columns: repeat(2, 1fr);
  }
}
